name: Python Test for S3 image database API

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:

    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v3

    - name: Set up Python environment
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      env:
        BASE_S3_LAMBDA_API_GATEWAY_URL: ${{ secrets.BASE_S3_LAMDA_API_GATEWAY_URL }}
        BUCKET_NAME_REV_SEARCH_DATABASE_IMAGES: ${{ secrets.BUCKET_NAME_REV_SEARCH_DATABASE_IMAGES }}
      run: |
        pytest tests/backend/test_s3api.py
